
.lesshst
.ICEauthority
.LfCache/
.bash_history
.bash_logout
.bashrc
.cache/
.config/
.dbus/
.gnupg/
.local/
.mozilla/
.pam_environment
.pki/
.presage/
.profile
.sogouinput/
.ssh/
.sudo_as_admin_successful
.viminfo
.wget-hsts
.xinputrc
Desktop/
Downloads/
Opt/
Pictures/
Work/
examples.desktop

